# Default ignored files
/../../algorithmsDSBA /.idea/shelf/
/../../algorithmsDSBA /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../algorithmsDSBA /.idea/httpRequests/
# Datasource local storage ignored files
/../../algorithmsDSBA /.idea/dataSources/
/../../algorithmsDSBA /.idea/dataSources.local.xml
